<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Parabank Test Suite">
    <test name="Login Tests">
        <classes>
            <class name="tests.LoginTests"/>
        </classes>
    </test>
    <test name="Registration Tests">
        <classes>
            <class name="tests.RegistrationTests"/>
        </classes>
    </test>
    <test name="Open Account Tests">
        <classes>
            <class name="tests.OpenAccountTests"/>
        </classes>
    </test>

</suite>
